/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Lato', sans-serif;
    color: white;
}

.flex{
    display: flex;
}

/* buttons */

.header-buttons:hover{
    cursor: pointer;
}

/* HEADER */
header{
    height: 70px;
    background-color: black;
}

.view{
    justify-content: flex-end;
}

.header-buttons{
    background-color: #4a4a4a;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}

.view-left i{
    margin-right: 5px;
}

/* MAIN */

/* main-top */
.main-top{
    height: calc( 100vh - 170px );
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-around;
    align-items: flex-start;
    background-color: black;
    padding: 0 80px;
}

.user{
    width: 300px;
    height: 178px;
    position: relative;
    padding: 0 5px 10px 5px;
}

.user-image img{
    width: 100%;
}

.user-name{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 7px;
    left: 5px;
    padding: 5px;

}

/* main-bottom */
.main-bottom{
    height: 100px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.main-bottom-left .container-icon{
    margin-right: 20px;
}

.icon-total{
    flex-direction: column;
    align-items: center;
    margin: 5px 20px 5px 10px;
}

.icon{
    justify-content: center;
    margin: 5px;
}

.green{
    color: #4bc800;
}

.container-icon{
    align-items: center;
}

/* Right */
.main-bottom-right{
    height: 100%;
}

.end-meeting{
    background-color: #4a4a4a;
    color: red;
    padding: 0px 25px;
}

.end-meeting span{
    align-self: center;
}