/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Lato', sans-serif;
    color: white;
}

.flex{
    display: flex;
}

/* buttons */

.header-buttons:hover{
    cursor: pointer;
}

/* HEADER */
header{
    height: 70px;
    background-color: black;
}

.view{
    justify-content: flex-end;
}

.header-buttons{
    background-color: #4a4a4a;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}

.view-left i{
    margin-right: 5px;
}

/* MAIN */

/* main-top */
.main-top{
    height: calc( 100vh - 140px );
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    background-color: black;
}

.user{
    width: 300px;
    height: 178px;
    position: relative;
    padding: 0 5px 10px 5px;
}

.user-image img{
    width: 100%;
}

.user-name{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 7px;
    left: 5px;
    padding: 5px;

}

/* main-bottom */
.main-bottom{
    height: 70px;
    background-color: #222222;
}